# Environnement virtuel Python
.venv/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
db.sqlite3

# Django
db.sqlite3
*.log
media/

# IDE / éditeurs
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store


# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Django
db.sqlite3
*.log
